[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

cryptography = ">=43.0.1"
Flask = "*"
"gobiko.apns" = "*"
gunicorn = "*"
psycopg2-binary = "*"
py-dateutil = "*"
pytest = "*"
pytz = "*"
requests = ">=2.31.0"

[requires]

python_version = "3.9"
