[submodule "nodemcu-uploader"]
	path = nodemcu-uploader
	url = git@github.com:jbmorley/nodemcu-uploader.git
[submodule "pcb/libraries/Eagle-Libraries"]
	path = pcb/libraries/Eagle-Libraries
	url = git@github.com:chiengineer/Eagle-Libraries.git
[submodule "pcb/libraries/SparkFun-Eagle-Libraries"]
	path = pcb/libraries/SparkFun-Eagle-Libraries
	url = git@github.com:sparkfun/SparkFun-Eagle-Libraries.git
[submodule "esptool"]
	path = esptool
	url = git@github.com:jbmorley/esptool.git
[submodule "ios/swift-sodium"]
	path = ios/swift-sodium
	url = https://github.com/jedisct1/swift-sodium.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = git@github.com:jbmorley/build-tools.git
[submodule "scripts/changes"]
	path = scripts/changes
	url = git@github.com:jbmorley/changes.git
