/.local
/build
/device/nodemcu/.espressif/
/device/nodemcu/build*
/ios/StatusPanel/configuration.json
/service/build
/service/package/statuspanel-service/DEBIAN/control
/service/package/statuspanel-service/DEBIAN/prerm
/service/package/statuspanel-service/usr/share/statuspanel-service/docker-compose.yaml
/service/package/statuspanel-service/usr/share/statuspanel-service/statuspanel-web-latest.tar.gz

.DS_Store
.env*
.jekyll-cache
StatusPanel.xcodeproj/xcuserdata
_site
apns.p8
arduino
console.log
node_modules
saleae
xcuserdata
