[submodule "nodemcu-uploader"]
	path = nodemcu-uploader
	url = git@github.com:jbmorley/nodemcu-uploader.git
[submodule "pcb/libraries/Eagle-Libraries"]
	path = hardware/pcb/libraries/Eagle-Libraries
	url = git@github.com:chiengineer/Eagle-Libraries.git
[submodule "pcb/libraries/SparkFun-Eagle-Libraries"]
	path = hardware/pcb/libraries/SparkFun-Eagle-Libraries
	url = git@github.com:sparkfun/SparkFun-Eagle-Libraries.git
[submodule "esptool"]
	path = esptool
	url = https://github.com/jbmorley/esptool.git
[submodule "ios/swift-sodium"]
	path = ios/swift-sodium
	url = https://github.com/jedisct1/swift-sodium.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = https://github.com/jbmorley/build-tools.git
[submodule "scripts/changes"]
	path = scripts/changes
	url = https://github.com/jbmorley/changes.git
[submodule "firmware/nodemcu-firmware"]
	path = device/nodemcu/nodemcu-firmware
	url = https://github.com/tomsci/nodemcu-firmware.git
[submodule "ios/diligence"]
	path = ios/diligence
	url = git@github.com:inseven/diligence.git
[submodule "simulator/DataStream"]
	path = simulator/macos/DataStream
	url = git@github.com:jbmorley/DataStream.git
