[submodule "swift-sodium"]
	path = swift-sodium
	url = https://github.com/jedisct1/swift-sodium.git
[submodule "nodemcu-uploader"]
	path = nodemcu-uploader
	url = git@github.com:jbmorley/nodemcu-uploader.git
[submodule "pcb/libraries/Eagle-Libraries"]
	path = pcb/libraries/Eagle-Libraries
	url = git@github.com:chiengineer/Eagle-Libraries.git
