[Unit]
Description=StatusPanel service
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c "docker compose --env-file /usr/share/statuspanel-service/.env  -f /usr/share/statuspanel-service/docker-compose.yaml up"

[Install]
WantedBy=multi-user.target
