[Unit]
Description=StatusPanel service
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c "docker compose -f /opt/statuspanel/docker-compose.yaml up"
User=www-data

[Install]
WantedBy=multi-user.target
